In [1]:
import pandas as pd

In [2]:
d=pd.DataFrame()

In [10]:
d['n']=[11,21,13,41,15,61,17,81,19,110,111,121,113,141,115,161,117,181,119,201]

In [11]:
d['n.shift(3)']=d.n.shift(3)
d['n.shift(3).diff(2)']=d.n.shift(3).diff(2)

In [12]:
d

      n  n.shift(3)  n.shift(3).diff(2)
0    11         NaN                 NaN
1    21         NaN                 NaN
2    13         NaN                 NaN
3    41        11.0                 NaN
4    15        21.0                 NaN
5    61        13.0                 2.0
6    17        41.0                20.0
7    81        15.0                 2.0
8    19        61.0                20.0
9   110        17.0                 2.0
10  111        81.0                20.0
11  121        19.0                 2.0
12  113       110.0                29.0
13  141       111.0                92.0
14  115       121.0                11.0
15  161       113.0                 2.0
16  117       141.0                20.0
17  181       115.0                 2.0
18  119       161.0                20.0
19  201       117.0                 2.0